* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
}
img {
    display: block;
}
.text-center {
    text-align: center;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.color-black {
    color: #333333;
}
.color-orange {
    color: #FD6E0A;
}
.flex {
    display: flex;
}
.flex-jc {
    justify-content: center;
}
.flex-ai {
    align-items: center;
}
.flex-sb {
    justify-content: space-between;
}
.flex-sa {
    justify-content: space-around;
}
header {
    background: url(../images/header_bg.png) right bottom no-repeat, url(../images/developer.png) 23px center no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
}

.container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
nav .menu {
    display: flex;
    align-items: center;
}
nav .menu li {
    margin-left: 52px;
}
nav .menu li:first-child {
    padding-right: 16px;
}
nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}
.btn {
    font-size: 20px;
    height: 65px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    padding: 0 35px;
}

.banner {
    margin: 46px 38px 0 230px;
}

.banner-content {
    max-width: 585px;
}
.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1 {
    font-size: 85px;
    color: #181818;
    color: #181818;
    margin: 5px 0 20px;
}
.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-btns {
    gap: 30px;
}

.about-container {
    background-color: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    margin: 113px auto 130px;
    padding: 131px 0;
}
.headers,
.about-content {
    max-width: 827px;
    margin: 0 auto;
}
.headers h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.headers p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.info-card h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.info-card p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

#skills {
    margin-bottom: 130px;
}


#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}