* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.color-black {
    color: #333333;
}
.color-orange {
    color: #FD6E0A;
}
.flex {
    display: flex;
}
.flex-jc {
    justify-content: center;
}
.flex-ai {
    align-items: center;
}
.flex-sb {
    justify-content: space-between;
}
header {
    background: url(../images/header_bg.png) right bottom no-repeat, url(../images/developer.png) 23px center no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
}

.container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
nav .menu {
    display: flex;
    align-items: center;
}
nav .menu li {
    margin-left: 52px;
}
nav .menu li:first-child {
    padding-right: 16px;
}
nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}
.btn {
    font-size: 20px;
    height: 65px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    padding: 0 35px;
}

.banner {
    margin: 46px 38px 0 230px;
}

.banner-content {
    max-width: 585px;
}
.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1 {
    font-size: 85px;
    color: #181818;
    color: #181818;
    margin: 5px 0 20px;
}
.banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-btns {
    gap: 30px;
}