* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.color-orange {
    color: #FD6E0A;
}
header {
    background: #FFF8F3;
}

.container {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
nav .menu {
    display: flex;
    align-items: center;
}
nav .menu li {
    margin-left: 52px;
}
nav .menu li:first-child {
    padding-right: 16px;
}
nav .menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}
.btn {
    width: 150px;
    font-size: 20px;
    height: 65px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    border: none;
    padding: 0 35px;
}